mixin banner
  .banner
    span.prev-slide.js-prev-slide
      i.fa.fa-chevron-left
    span.next-slide.js-next-slide
      i.fa.fa-chevron-right
    ul.slider.js-slider
      li.slider__item.active.js-slider-item
        article.layout.layout-1
          .layout__item.layout-1__1
            .container
              img.layout__img(src="images/slide-1-1.png", alt="layout img")
          .layout__item.layout-1__2
            .container
              img.layout__img(src="images/slide-1-2.png", alt="layout img")
          .layout__item.layout-1__3
            .container
              img.layout__img(src="images/slide-1-3.png", alt="layout img")
          .layout__item.layout-1__4
            .container
              img.layout__img(src="images/slide-1-4.png", alt="layout img")
          .layout__item.layout-1__5
            .container
              .layout__btnwrap
                a.button.layout-1__btn(href="#!") XEM THÊM
      li.slider__item.js-slider-item
        article.layout.layout-2
          .layout__item.layout-2__1
            .container
              img.layout__img(src="images/slide-2-1.png", alt="layout img")
          .layout__item.layout-2__2
            .container
              img.layout__img(src="images/slide-2-2.png", alt="layout img")
          .layout__item.layout-2__3
            .container
              img.layout__img(src="images/slide-2-3.png", alt="layout img")
          .layout__item.layout-2__4
            .container
              img.layout__img(src="images/slide-2-4.png", alt="layout img")
          .layout__item.layout-2__5
            .container
              .layout__btnwrap
                a.button.layout-2__btn(href="#!") XEM THÊM
      li.slider__item.js-slider-item
        article.layout.layout-3
          .layout__item.layout-3__1
            .container
              .layout-3__logo
                img.layout-3__img(src="images/logo.png", alt="")
          .layout__item.layout-3__2
            .container
              h1.layout-3__title Công ty cổ phẩn V-next
          .layout__item.layout-3__3
            .container
              p.layout-3__text Được thành lập tháng 1/2008, V-Next là một công ty tư vấn phát triển phần mềm. Qua hơn 8 năm phát triển chúng tôi đã thực hiện hơn 100 dự án lớn nhỏ với 90% phần lớn đối tác đến từ thị trường Nhật Bản, một thị trường vô cùng khó tính và đòi hỏi nghiêm ngặt về chất lượng cũng như  tiến độ dự án.
          .layout__item.layout-3__4
            .container
              .layout__btnwrap
                a.button.layout-3__btn(href="#!") XEM THÊM
