$blue-dark: #363c42;
$blue-darker: #242a34;
$gray-border: #e6e6e6;
$gray-text: #333333;
$orange: #f26f26;
$orange-lighter: #fbaf3f;
$gray: #7d7d7d;
$blue-facebook: #3a589b;
$blue-twitter: #2ca7e0;
$brown: #c39a6b;
