include modules/_page-list/_page-list
include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/banner/banner

doctype html
html
  +head(head.home)
  body
    section.page
      +header
      main
        +banner
        section.section.js-section1
          .container
            h1.section__heading VỀ CHÚNG TÔI
            p.section__desc Được thành lập tháng 1/2008, V-Next là một công ty tư vấn phát triển phần mềm. Qua hơn 8 năm phát triển chúng tôi đã thực hiện hơn 100 dự án lớn nhỏ với 90% phần lớn đối tác đến từ thị trường Nhật Bản một thị trường vô cùng khó tính và đòi hỏi nghiêm ngặt về chất lượng cũng như tiến độ dự án.
            section.about
              h3.about__heading THÔNG TIN CHUNG
              table.tbl
                tr
                  td.tbl__col.tbl__col--first Tên Công Ty
                  td.tbl__col Công ty cổ phần V-Next
                tr
                  td.tbl__col.tbl__col--first Trụ sở
                  td.tbl__col Tầng 18, Toà nhà Central Point, 219 Trung Kính, Cầu Giấy, Hà Nội
                tr
                  td.tbl__col.tbl__col--first Thành lập
                  td.tbl__col Năm 2008
                tr
                  td.tbl__col.tbl__col--first Thành viên Ban Điều hành
                  td.tbl__col
                    table.tbl-2
                      tr
                        td.tbl-2__col Chủ tịch Hội đồng quản trị
                        td.tbl-2__col.tbl-2__col--last Mr. Yusuke Yokoji
                      tr
                        td.tbl-2__col Tổng Giám đốc
                        td.tbl-2__col.tbl-2__col--last Mr. Trần Ngọc Sơn
                tr
                  td.tbl__col.tbl__col--first Lĩnh vực phát triển kinh doanh
                  td.tbl__col Tư vấn và phát triển phần mềm ra nước ngoài (Offshore); Tư vấn và phát triển các ứng dụng điện thoại (Smartphone Application); Cung cấp dịch vụ ODC
                tr
                  td.tbl__col.tbl__col--first Website
                  td.tbl__col
                    a.tbl__link(href="#") www.vnext.vn
                tr
                  td.tbl__col.tbl__col--first Fan page
                  td.tbl__col
                    a.tbl__link(href="#") facebook fan page
            section.about
              h3.about__heading TRIẾT LÝ KINH DOANH
              p.about__text Ngay từ ngày đầu thành lập chúng tôi luôn hướng tới một triết lý kinh doanh đó là mang lại giá trị thực cho đối tác nói riêng và xã hội nói chung. Gần 10 năm qua dựa trên phương châm này cùng với tâm huyết của những người đam mê công việc, chúng tôi đã phát triển một số sản phẩm có giá trị cho khách hàng, tạo ra giá trị cho xã hội.
            section.about
              h3.about__heading PHÁT TRIỂN GIÁ TRỊ THỰC
              p.about__text VNEXT là một công ty phát triển phần mềm, chúng tôi hiểu và ý thức mạnh mẽ vai trò vô cùng quan trọng của mình trong dây chuyền sản xuất phần mềm khổng lồ của cả thế giới. Chúng tôi hạnh phúc là một mắt xích quan trọng, nơi mà sản phẩm phần mềm thực sự được tạo ra để cung cấp cho người dùng cuối. Ở giai đoạn lớn mà chúng tôi thực hiện, chúng tôi tiếp nhận các ý tưởng, lượng hóa chúng. Sản phẩm sẽ trải qua nhiều công đoạn phức tạp để thành hình. Mỗi công đoạn là những công việc được thực hiện với niềm đam mê, sáng tạo, sự hy sinh liên tục công sức và trí tuệ để bồi đắp không ngừng giá trị cho sản phẩm phần mềm đến lúc hoàn thành.
              h5.about__subheading Giá trị thực mà V-NEXT mang lại:
              p.about__text
                strong Là sự
                  span.orange an toàn
                  |  khi tài sản được đảm bảo an ninh.
                |  Chúng tôi ý thức rõ ràng và sâu sắc việc đảm bảo an ninh và bảo mật thông tin của khách hàng là giá trị vô cùng quản trọng trong dịch vụ mà chúng tôi cung cấp cho đối tác và khách hàng, coi đó là điều kiện nền tảng cho mọi hoạt động kinh doanh.
              p.about__text
                strong Là
                  span.orange niềm tin
                  |  khi được đáp ứng chính xác yêu cầu.
                |  Chúng tôi không ngừng học hỏi và thích nghi để ngày một thông thạo hơn về sản xuất, thị trường, nhu cầu, sản phẩm và lĩnh vực. Với hiểu biết và năng lực tích lũy không ngừng đó, chúng tôi tạo ra những công đoạn phát triển thực thi chính xác cao, hồi đáp nhanh chóng. Nhu cầu của khác hàng được thông hiểu và đáp ứng để tạo dựng niềm tin vững bền.
              p.about__text
                strong Là sự
                  span.orange hài lòng
                  |  khi được gia tăng giá trị.
                |  Đối với V-NEXT, năng lực to lớn và mạnh mẽ nhất là tạo ra giá trị cao hơn kỳ vọng. Đó là nền tảng để được khách hàng xem chúng tôi như một nguồn lực từ chính trong bản thân họ, một nguồn lực đầy mạnh mẽ và tin cậy để khách hàng hiện thực hóa các ý tưởng của mình và tạo giá trị cho xã hội.
              p.about__text
                strong Là niềm
                  span.orange hạnh phúc
                  |  khi trải nghiệm dịch vụ chuyên nghiệp.
                |  Sự kết tinh của an toàn, niềm tin, hài lòng chính là một dịch vụ chuyên nghiệp. Chúng tôi khao khát mang đến cho khách hàng không chỉ là sản phẩm phần mềm tốt mà còn là trải nghiệm hạnh phúc khi tận hưởng dịch vụ tuyệt vời mà chúng tôi kì công sáng tạo.
            section.about
              h3.about__heading QUY MÔ NHÂN SỰ VÀ CÔNG TY
              p.about__text Năm 2008 khi mới thành lập, V-Next Software có trụ sở đặt tại Tầng 14, Tòa nhà 34T Trung Hòa Nhân Chính, Thanh Xuân, Hà Nội. Từ tháng 10/2013 để đáp ứng cho quy mô nhân sự mở rộng và các kế hoạch phát triển kinh doanh trong dài hạn, V-Next Software đã chuyển tới trụ sở văn phòng mới tại Tầng 7, Tòa nhà TTC, Duy Tân, Cầu Giấy, Hà Nội. Từ tháng 4/2015, Vnext chuyển trụ sở sang 56 Lưu Hữu Phước, Cầu Diễn, Nam Từ Liêm, Hà Nội. Từ tháng 11/2017, do mở rộng quy mô nên Vnext chuyển trụ sở sang Tầng 18, Toà nhà Central Point, 219 Trung Kính, Cầu Giấy, Hà Nội
              p.about__text Năm 2008. V-Next Softtware khởi nghiệp với chỉ 7 thành viên - những người trẻ đầy nhiệt huyết và đam mê công việc cùng nhau góp sức xây dựng V-Next. Đến đầu năm 2017, chúng tôi đã xây dựng được một đội ngũ nhân sự đông đảo với hơn 100 thành viên được chia thành các đội thực hiện dự án chuyên biệt.
            section.about
              h3.about__heading ĐÀO TẠO NHÂN SỰ
              p.about__text Chúng tôi rất coi trọng vấn đề đào tạo nhân sự. Hơn 100 nhân sự đang làm việc tại V-Next là những thành viên với năng lực và trình độ chuyên môn cao được tuyển chọn một cách nghiêm túc, chặt chẽ.
              p.about__text Không dừng ở đó, khi bước chân vào V-Next các thành viên luôn được tạo điều kiện học tập và nâng cao trình độ chuyên môn của mình cùng với một chính sách đào tạo hợp lý. Đến nay chúng tôi đã có tới 4 Kỹ sư Công nghệ thông tin đạt chứng chỉ ZCE PHP (Zend Certified Engineer), 5 Kỹ sư đạt chứng chỉ ISTQB (International Software Testing Qualifications Board). Để đáp ứng cho công việc với hơn 90% đối tác là Nhật Bản, việc học tập để nâng cao năng lực tiếng Nhật cũng được chúng tôi đề cao. Bằng chứng là chúng tôi mở riêng những lớp đào tạo tiếng Nhật ngay tại V-Next dành cho nhân viên công ty và rất nhiều các thành viên đã đạt được những trình độ nhất định từ N5 đến N2 qua các lớp học này.
            section.about
              h3.about__heading VĂN HOÁ
              img.about__img(src="images/vnext_members.jpg", alt="member img")
              p.about__text V-Next từ lâu đã hình thành một nét văn hóa cởi mở và thân thiện. Điều này được thể hiện qua những ứng xử giao tiếp gần gũi của anh chị em V-Next. Hơn tất cả, chúng tôi luôn sẵn sàng giúp đỡ những người đồng nghiệp của mình trong công việc để cùng đạt được kết quả tốt nhất. Chúng tôi tin tưởng rằng chính từ sự thân thiện này mà chúng tôi có một tập thể vô cùng gắn kết và tôn trọng lẫn nhau, từ đó tạo nên một nền móng cho văn hóa V-Next nói riêng và sự phát triển bền vững cho V-Next nói chung.
              h5.about__subheading Một số ngày lễ kỷ niệm tại V-Next:
              ul.about__list
                li.about__list-item 21/1: Mừng Lễ sinh nhật Công ty
                li.about__list-item 15/8 (âm lịch): Đón Hội Trăng rằm cùng các V-Nexter nhí
                li.about__list-item 8/3: Chào đón ngày Quốc tế phụ nữ cùng chị em
                li.about__list-item 20/10: Chúc mừng phái đẹp V-Next
                li.about__list-item 1/6: Tết thiếu nhi trong đại gia đình V-Next
                li.about__list-item 24/12: Ấm áp ngày lễ giáng sinh và tạm biệt năm cũ
              p.about__text Ngoài ra V-Nexters còn có dịp giao lưu và vui chơi cùng nhau trong các chương trình: Du lịch, Teambuilding, Gameshow nội bộ,…
        section.section.js-section2
          .container
            h1.section__heading CÔNG NGHỆ
            p.section__desc Chúng tôi luôn cập nhật những công nghệ tiên tiến và hiện đại để áp dụng cho những sản phẩm chúng tôi phát triển
            table.tbl
              tr
                td.tbl__col.tbl__col--first Platform
                td.tbl__col Linux/CentOS, Windows 7/8, IOS, Android OS, Windows phone 8
              tr
                td.tbl__col.tbl__col--first Frameworks CMS
                td.tbl__col
                  ul
                    li CakePHP, Yii, Codeigniter, Zend FW, Symphony, ROR...
                    li Wordpress, MovableType, Drupal, Joomla...
                    li Cross-Platfrom: Cocos2d, Cocos2d-X, Unity 3d
              tr
                td.tbl__col.tbl__col--first Programming Languages
                td.tbl__col PHP, .NET/C#, Java, Objective C, C/C++, HTML5, Ruby, Perl, Python, Action script...
              tr
                td.tbl__col.tbl__col--first Database
                td.tbl__col MySQL, PostgreSQL, MS SQL Server, Oracle, DB2, MongoDB, SQLite...
              tr
                td.tbl__col.tbl__col--first Development Tool
                td.tbl__col Java-PHP Eclipse, Visual Studio 6, Visual Studio .NET, Macromedia...
              tr
                td.tbl__col.tbl__col--first Quality Control
                td.tbl__col While/Black Box Testing, Mobile/Web Testing, Security Testing, Performance Testing
              tr
                td.tbl__col.tbl__col--first Conference Tools
                td.tbl__col Skype, Chatwork, Google Hangouts
              tr
                td.tbl__col.tbl__col--first Project management tools
                td.tbl__col Redmine, Backlog, Dashboard, TortoiseSVN, GitHub
        section.section.js-section3
          .container
            h1.section__heading DỊCH VỤ
            p.section__desc Công ty chúng tôi đang thực hiện phát triển kinh doanh ba lĩnh vực sau đây.
            .row
              .col-lg-4
                article.service
                  a.service__imgwrap(href="#!")
                    img.service__img(src="images/service-1.png", alt="service img")
                  h3.service__title
                    a(href="#!") ODC
                  p.service__desc Chúng tôi cung cấp dịch vụ ODC một cách linh hoạt phù hợp theo yêu cầu của khách hàng. Quý khách có thể lựa chọn theo chuyên môn hóa, theo dự án, nhân sự tại chỗ hay nhân sự từ xa. Mục tiêu của chúng tôi đó là giúp quý khách tập trung toàn bộ vào công việc kinh doanh thay vì dành thời gian để quản lý dự án, bởi nhân sự của chúng tôi đủ kinh nghiệm và uy tín để thực hiện chúng.
              .col-lg-4
                article.service
                  a.service__imgwrap(href="#!")
                    img.service__img(src="images/service-2.png", alt="service img")
                  h3.service__title
                    a(href="#!") Smartphone Applications
                  p.service__desc Thị trường cạnh tranh sôi động cùng với sự ra đời của hàng loạt các ứng dụng smartphone, chúng tôi biết quý khách cần một đối tác uy tín về chất lượng, làm việc sáng tạo và linh hoạt để giúp quý khách tạo nên sự khác biệt. V-Next đồng hành cùng quý khách từ tư vấn đến phát triển sản phẩm ứng dụng dành cho Smartphone
              .col-lg-4
                article.service
                  a.service__imgwrap(href="#!")
                    img.service__img(src="images/service-3.png", alt="service img")
                  h3.service__title
                    a(href="#!") Offshore
                  p.service__desc Với hơn 8 năm kinh nghiệm phát triển phần mềm outsourcing và đặc biệt là tới 90% là khách hàng Nhật Bản, chúng tôi thấu hiểu giá trị của một doanh nghiệp outsourcing đó là: Đem đến sự hài lòng tuyệt đối cho khách hàng.
        section.section.section--orange.js-section4
          .container
            h1.section__heading.section__heading--white THAM GIA VỚI CHÚNG TÔI
            p.section__desc Cảm ơn bạn đã quan tâm đến V-Next. Xin vui lòng liên hệ với chúng tôi bằng e-mail hoặc điện thoại.
            .row
              .col-md-5
                section.contact
                  h1.contact__title Thông tin liên hệ
                  p.contact__info Cty Cổ Phần V-Next Software
                  p.contact__info Tầng 18, Toà nhà Central Point, 219 Trung Kính, Cầu Giấy, Hà Nội
                  p.contact__info +84-4-3765-9555
                  p.contact__info info@vnext.vn
                  .social
                    a.social__link.social__link--facebook(href="#!")
                      i.fa.fa-facebook
                    a.social__link.social__link--twitter(href="#!")
                      i.fa.fa-twitter
              .col-md-7
                img.welcome-img(src="images/welcome.png", alt="welcome image")
      +footer
      script(src="js/main.js")
